<section class="h-100 h-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <div class="card-body p-4 p-md-5">
                <div class="text-center">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">REGISTRATE</h3>
                </div>
              <form class="px-md-2" (ngSubmit)="register(registerForm)" #registerForm="ngForm">
                <span *ngIf="!name.valid && name.touched" style="color: rgb(247, 126, 40);">
                  Required Field
              </span>
                <div class="form-outline mb-4">
                  <input [(ngModel)]="user.name" name="name" #name="ngModel" type="text" id="form3Example1q" class="form-control" required/>
                  <label class="form-label" for="form3Example1q">Name</label>
                </div>
                <div class="form-outline mb-4">
                    <input [(ngModel)]="user.email" name="email" #email="ngModel" type="text" id="form3Example1q" class="form-control" required/>
                    <label class="form-label" for="form3Example1q">Email</label>
                </div>
                      <br>
                <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                    <div class="form-group col-md-6">
                        <label  for="inputEmail4">UserName</label>
                        <input [(ngModel)]="user.username" name="userName" #username="ngModel" type="email" class="form-control" id="inputEmail4" placeholder="Email" required>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPassword4">Password</label>
                        <input [(ngModel)]="user.password" name="password" #password="ngModel" type="password" class="form-control" id="inputPassword4" placeholder="Password" required>
                      </div>
                </div>
                <div class="text-center">
                    <button [disabled]="!registerForm.form.valid" type="submit" class="btn btn-success btn-lg mb-1">Submit</button>
                </div>
                <div class="text-center" style="margin-bottom: 10px;">
                    <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                        class="link-danger" routerLink="/Login">Login</a></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>