<app-header></app-header>
<br>
<br>
<br>
<div style="padding: 100px;">
    <div class="" style="text-align: center; justify-content: center;">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">Options</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><a href="/EntitySave"><i class="fa-sharp fa-solid fa-floppy-disk" style="padding: 0 10px;"></i></a>
                    <a href=""> <i class="fa-solid fa-square-pen" style="padding: 0 10px;"></i></a>
                    <a href=""><i class="fa-solid fa-trash" style="padding: 0 10px;"></i></a>
               </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td> <a href="/EntitySave"><i class="fa-sharp fa-solid fa-floppy-disk" style="padding: 0 10px;"></i></a>
                    <a href=""> <i class="fa-solid fa-square-pen" style="padding: 0 10px;"></i></a>
                   <a href=""><i class="fa-solid fa-trash" style="padding: 0 10px;"></i></a>
               </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td> <a href="/EntitySave"><i class="fa-sharp fa-solid fa-floppy-disk" style="padding: 0 10px;"></i></a>
                     <a href=""> <i class="fa-solid fa-square-pen" style="padding: 0 10px;"></i></a>
                    <a href=""><i class="fa-solid fa-trash" style="padding: 0 10px;"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>